In [1]:
print("hello,world!")
print("hello,world!")

hello,world!
hello,world!

## Data types

In [2]:
# string is either double quotes or single quotes

test = "hello"

In [3]:
print(test)

hello

In [4]:
type(test)

str

In [5]:
# numeric types come in two forms
# integers and floats

#integer
number=10

#float
floaty=5.4

In [6]:
number+floaty

15.4

In [7]:
test+number

TypeError: can only concatenate str (not "int") to str

In [8]:
test+test

'hellohello'

###Operators

In [9]:
36/6

6.0

In [10]:
6*10

60

In [11]:
7**7

823543

In [12]:
# double asterix rasises to the power

In [13]:
14/4

3.5

In [14]:
14//5

2

In [15]:
#double // gives answer to the nearest integer

In [16]:
"foo" + "bar"

'foobar'

In [17]:
"foo" - "bar"

TypeError: unsupported operand type(s) for -: 'str' and 'str'

In [18]:
"foo"*10

'foofoofoofoofoofoofoofoofoofoo'

In [19]:
# can multiply integer and string

In [20]:
"foo"*5.5

TypeError: can't multiply sequence by non-int of type 'float'

## Python Collections

In [21]:
# list
# anything in square brackets is a list

my_list = [1, "2", 3.2]

In [22]:
prin(my_list)

NameError: name 'prin' is not defined

In [23]:
print(my_list)

[1, '2', 3.2]

In [1]:
print(my_list[0])

NameError: name 'my_list' is not defined

In [2]:
print(my_list)

NameError: name 'my_list' is not defined

In [3]:
my_list=[1,"2",3]

In [4]:
print(my_list[0])

1

In [5]:
print(my_list[-1])

3

In [6]:
print(my_list[1:])

['2', 3]

In [7]:
print(my_list[2:])

[3]

In [8]:
print(my_list[:2])

[1, '2']

In [9]:
my_dict = ("one": 1, "two": 2, "three": 3)

SyntaxError: invalid syntax (3060819544.py, line 1)

In [10]:
my_dict =("one": 1, "two": 2, "three": 3)

SyntaxError: invalid syntax (2330370300.py, line 1)

In [12]:
my _dict=("one":1,"two":2,"three":3)

SyntaxError: invalid syntax (3821704826.py, line 1)

In [13]:
my_dict= ("one":1,"two":2,"three":3)

SyntaxError: invalid syntax (3584723706.py, line 1)

In [14]:
my _dict= ( 'one':1,'two':2,'three':3 )

SyntaxError: invalid syntax (2589403290.py, line 1)

In [15]:
my _dict={"one":1,"two":2,"three":3}

SyntaxError: invalid syntax (3225133154.py, line 1)

In [16]:
my_dict={"one":1,"two":2,"three":3}

In [17]:
print(my_dict["one"])

1

In [18]:
#git allows tracked changes for code to be stored
#github is a tool to share code and relies on git

In [19]:
#github code can be kept private or public